.header {
    background-color: #E65100;
    margin-bottom: 1.45rem;
}

.header-content {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
}

.header-link {
    color: white;
    text-decoration: none;
}

.navbar {
    float: right;
}

.navbar .header-link {
    margin: 5px;
}